/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Arial, sans-serif;
}
h2 {
  color: black;
  margin-top: 0px;
  margin-bottom: 15px;
}

p {
  background-color: #f3a4a4;
  width: 95%;
  margin: 10px;
  font-family: Helvetica;
  color: black;
}

section {
  padding: 10px;
}

#header-nav {
  background: #f55590;
}
#nav-list {
  background: #f1cedb;
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/* #collapsable-nav {
  background: #E7E7E7;
} */
.inner {
  border: 1px solid black;
  background-color: #f3a4a4;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar-brand {
  padding: 30px;
  margin-right: 0px;
  margin-left: 0px;
}
.navbar-brand {
  padding-top: 10px;
  height: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}
